{% include "admin-head.html" %}

<main>
    <article>
        <section class="hero" id="home" style="background-image: url('../static/images/hero-bg.jpg')">
            <div class="container">
                <div class="hero-content">
                    <p class="hero-subtitle">Eat Sleep And</p>

                    <h2 class="h1 hero-title">Supper delicious Burger Administration!</h2>

                    <p class="hero-text">
                        Food is any substance consumed to provide nutritional support for an organism.
                    </p>

                    <button class="btn">Manage Orders</button>
                </div>

                <figure class="hero-banner">
                    <img
                        src="../static/images/hero-banner-bg.png"
                        width="820"
                        height="716"
                        alt=""
                        aria-hidden="true"
                        class="w-100 hero-img-bg"
                    />

                    <img
                        src="../static/images/hero-banner.png"
                        width="700"
                        height="637"
                        loading="lazy"
                        alt="Burger"
                        class="w-100 hero-img"
                    />
                </figure>
            </div>
        </section>
    </article>
</main>

{% include "footer.html" %}
